<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ '/assets/fonts/tungsten/stylesheet.css'}}" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">

      <!-- PWA Config -->
      <link rel="apple-touch-icon" href="/apple-icon-180.png">

      <meta name="apple-mobile-web-app-capable" content="yes">

      <link rel="apple-touch-startup-image" href="/apple-splash-2048-2732.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2732-2048.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1668-2388.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2388-1668.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1536-2048.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2048-1536.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1668-2224.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2224-1668.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1620-2160.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2160-1620.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1290-2796.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2796-1290.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1179-2556.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2556-1179.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1284-2778.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2778-1284.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1170-2532.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2532-1170.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1125-2436.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2436-1125.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1242-2688.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2688-1242.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-828-1792.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1792-828.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1242-2208.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-2208-1242.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-750-1334.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1334-750.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
      <link rel="apple-touch-startup-image" href="/apple-splash-640-1136.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
      <link rel="apple-touch-startup-image" href="/apple-splash-1136-640.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">

      {% favicons 'src/favicon.svg',
      appleIconBgColor = theme.accentColor,
      generateManifest = false %}

      <meta name="theme-color" content="{{theme.accentColor}}">

      <link rel="manifest" href="/manifest.json">

      <title>{{content.title}}</title>

      <!-- HTML Meta Tags -->
      <title>YASMINE Music</title>
      <meta name="description" content="Links, Shows, and Info">

      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="yasminemusic.com">
      <meta property="og:type" content="website">
      <meta property="og:title" content="YASMINE Music">
      <meta property="og:description" content="Links, Shows, and Info">
      <meta property="og:image" content="/og_image.png">

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="yasminemusic.com">
      <meta property="twitter:url" content="yasminemusic.com">
      <meta name="twitter:title" content="YASMINE Music">
      <meta name="twitter:description" content="Links, Shows, and Info">
      <meta name="twitter:image" content="/og_image.png">

   </head>

   <body>
      {% block content %}{% endblock %}

      <footer>
         <div>
            {% if lyket %}
               <div
            class="lyket"
            data-lyket-type="like"
            data-lyket-id="{{developerSettings.baseUrl}}"
            data-lyket-namespace="lite"
            data-lyket-template="twitter"
            data-lyket-font-family="sans-serif"
            data-lyket-color-text="rgba(255,255,255,.5)"
            ></div>
            {% endif %}
         </div>
         <div class="logo">
            <a href="{{developerSettings.linklyReferralLink}}" target="_blank">
               {% include "logo-var1.svg" %}
            </a>
         </div>
      </footer>

      <style>

         /*STARTER LAYOUT*/
         /* The following CSS is closely tied with the business specifications of LITE/STARTER. */
         /*
      Specifically: 
        - STARTER supports a maximum width of 600px, based on the viewport size of the largest smartphones
        - Any viewports larger than 600px will show a square website
      */
         :root {
            --starter-max-width: 600px;
            --font-secondary: "Tungsten";
         }

         html {
            height: 100svh;
            width: 100lvw;
            position: relative;
         }

         body {
            height: 100svh;
            width: 100lvw;
            background-color: {{theme.backgroundColor}};
            position: relative;
         }

         /* */

         footer {
            position: absolute;
            bottom: 0;
            place-self: flex-end center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            justify-items: center;
            align-items: center;
            background-color: {{theme.backgroundColor2}};
            height: 5%;
         }

         footer > *:first-child {
            margin-left: var(--space-xs);
            place-self: flex-start;
         }

         .logo {
            margin-bottom: var(--space-3xs);
            width: 20px;
         }

         @media (orientation: landscape) {
            body {
               min-height: 700px;
            }
         }

         @media (min-width: 600px) {
            footer {
               left: 40%;
               right: 0;
               width: unset;
               background-color: transparent;
            }
         }
      </style>
      {% if lyket %}

         <script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_b2e989b79fbbbe5f5c7b7d42869d3d"></script>

      {% endif %}
   </html>