<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ '/assets/fonts/tungsten/stylesheet.css'}}" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">

      {% favicons 'src/favicon.svg',
      appleIconBgColor = theme.accentColor %}

      <meta name="theme-color" content="{{theme.accentColor}}">

      <title>{{content.title}}</title>

      <!-- HTML Meta Tags -->
      <title>YASMINE Music</title>
      <meta name="description" content="Links, Shows, and Info">

      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="yasminemusic.com">
      <meta property="og:type" content="website">
      <meta property="og:title" content="YASMINE Music">
      <meta property="og:description" content="Links, Shows, and Info">
      <meta property="og:image" content="/og_image.png">

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="yasminemusic.com">
      <meta property="twitter:url" content="yasminemusic.com">
      <meta name="twitter:title" content="YASMINE Music">
      <meta name="twitter:description" content="Links, Shows, and Info">
      <meta name="twitter:image" content="/og_image.png">

   </head>

   <body>
      {% block content %}{% endblock %}

      <footer>
         <div>
            {% if lyket %}
               <div
            class="lyket"
            data-lyket-type="like"
            data-lyket-id="{{developerSettings.baseUrl}}"
            data-lyket-namespace="lite"
            data-lyket-template="twitter"
            data-lyket-font-family="sans-serif"
            data-lyket-color-text="rgba(255,255,255,.5)"
            ></div>
            {% endif %}
         </div>
         <div class="logo">
            <a href="{{developerSettings.linklyReferralLink}}" target="_blank">
               {% include "logo-var1.svg" %}
            </a>
         </div>
      </footer>

      <style>

         :root {
            --starter-max-width: none;
            --font-secondary: "Tungsten";
         }

         html {
            height: 100lvh;
            width: 100lvw;
            display: grid;
            place-content: center;
            position: relative;
         }

         body {
            height: 110lvh;
            width: 100lvw;
            background-color: {{theme.backgroundColor}};
            position: relative;
         }

         /* the value of media query below should be the same as --starter-max-width */
         @media (min-width: 600px) {
            body {
               max-width: var(--starter-max-width);
               max-height: var(--starter-max-width);
               border-radius: 10px;
               margin: auto;
            }
         }

         /* */

         footer {
            position: absolute;
            bottom: 0;
            place-self: flex-end center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            justify-items: center;
            align-items: center;
            background-color: {{theme.backgroundColor2}};
            height: 5%;
         }

         footer > *:first-child {
            margin-left: var(--space-xs);
            place-self: flex-start;
         }

         .logo {
            margin-bottom: var(--space-3xs);
            width: 20px;
         }
      </style>
      {% if lyket %}

         <script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_b2e989b79fbbbe5f5c7b7d42869d3d"></script>

      {% endif %}
   </html>