<div>
   <style>
      .email-form {
         --c: {{theme.accentColor}};
         text-align: center;
      }

      .email-form label {
         color: var(--c);
         margin-bottom: var(--space-2xs);
         font-style: italic;
         font-family: "Garamond";
         font-size: var(--d-lg);
      }

      .email-form form {
         display: flex;
         flex-direction: column;
         place-content: center;
      }

      .email-form .email-field {
         display: flex;
         flex-direction: row;
         width: 100%;
      }

      .email-form .email-field input {
         color: {{theme.accentColor}};
         background-color: {{theme.backgroundColor2}};
         font-family: Arial;
         text-transform: uppercase;
         width: 100%;
         height: 2.4rem;
         border: 1px solid{{theme.accentColor}};
         text-align: center;
         border-radius: 3px 0 0 3px;
      }

      .email-form .email-field input::placeholder {
         color: {{theme.accentColor}};
         opacity: 0.8;
      }
      .email-form .email-field input:disabled {
         background-color: {{theme.accentColor}};
      }

      .email-form button {
         border: 0;
         padding: 0;
      }

      .email-form .icon {
         background-color: {{theme.accentColor}};
         height: 2.4rem;
         display: grid;
         place-content: center;
         border-radius: 0 3px 3px 0;
         width: 2.4rem;
      }

      .email-form .icon svg {
         height: 24px;
         width: 24px;
      }
   </style>

   <div class="email-form">
      <form name="emails" method="POST" data-netlify="true" action="/success">
         <label for="email">Get the Latest Updates</label>
         <div class="email-field">
            <input  type="email" name="email" placeholder="Email Address">
            <button type="submit" class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="black">
                  <path d="M8.29492 16.59L12.8749 12L8.29492 7.41L9.70492 6L15.7049 12L9.70492 18L8.29492 16.59Z"/>
               </svg>
            </button>
         </div>
      </form>
   </div>
   <script>
      const handleSubmit = (event) => {
         event.preventDefault();

         const myForm = event.target;
         const formData = new FormData(myForm);

         fetch("/", {
            method: "POST",
            headers: {
               "Content-Type": "application/x-www-form-urlencoded"
            },
            body: new URLSearchParams(formData).toString()
         })
            .then(() => {
               /* alert("Thank you for your submission") */
               const field = document.querySelector(".email-form .email-field input")
               field.value = "Talk to you soon!"
               field.style = `color: var(--color-bg); background-color: var(--color-a)`

               const button = document.querySelector(".email-form .email-field button")
               button.disabled = true
               button.innerHTML = `
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 12.6444L7.22222 11.0556L10.4 13.7444L15.5333 8L17 9.34444L10.5222 16.4333L6 12.6444Z" fill="black"/>
                  </svg>
               `
            })
            .catch((error) => alert(error));
      };

      document
         .querySelector("form")
         .addEventListener("submit", handleSubmit);
   </script>
</div>