{% extends "default.njk" %}
{% block content %}

<style>
    :root {
        --bp-phone: 768px;
        --max-width: 600px;
        --color-t-d: #0D1011;
        --color-b: #0D1011;
        --color-b-alt: #F9DCE1;
    }

    * {
        color: white;
        font-family: var(--font-primary);
    }

    body {
        background-color: var(--color-b);
        max-width: var(--max-width);
        margin: auto;
    }

    h1 {
        text-transform: uppercase;
    }

    h2 {
        opacity: 50%;
    }

    section {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    section.sign-up {
        background-color: var(--color-b-alt);
    }

    section.sign-up * {
        color: var(--color-t-d);
    }
</style>


<section class="sign-up">
    <p>Sign Up for the Latest Info and Updates</p>
    <form action="#" method="post">
        <input type="email" name="email" placeholder="Email Address" required>
        <button type="submit">
            <!-- SVG arrow for the submit button -->
            <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.294922 10.59L4.87492 6L0.294922 1.41L1.70492 0L7.70492 6L1.70492 12L0.294922 10.59Z"
                    fill="black" />
            </svg>
        </button>
    </form>
</section>

<hr>

<section class="header">
    <h1>Yasmine</h1>
    <nav class="main">
        <ul>
            <li>Music</li>
            <li>Live</li>
            <li>About</li>
        </ul>
    </nav>
    <nav class="social">
        {% for link in social.links %}
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer"><img src="{{ link.image }}"
                alt="Social Icon"></a>
        {% endfor %}
    </nav>
</section>
<hr>


<section class="music">
    <h2>Music</h2>
    {% for record in music.records %}
    <div class="record-item">
        <img src="{{ record.album_art }}" alt="{{ record.name }} Album Art">
        <h3>{{ record.name }}</h3>
        <a href="{{ record.url }}">Listen</a>
    </div>
    {% endfor %}
</section>

<hr>

<section class="live">
    <h2>Live</h2>
    {% for set in live.sets %}
    <div class="set-item">
        <p>
            <time>{{ set.date | dateFormat() }}</time> @
            {{ set.location }}
        </p>
        <a href="{{ set.url }}">View Event</a>
    </div>
    {% endfor %}
</section>

<hr>

<section class="about">
    <h2>About</h2>
    {% renderFile "./site/_data/about.md" %}
</section>

<hr>

<iframe style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3jFtqOYIVWQSd8XiAOszBM?utm_source=generator&theme=0" width="100%"
    height="352" frameBorder="0" allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

{% endblock %}