---
content:
   title: YASMINE
   pic: "photo.webp"
   links:
      - 
         icon: social-icons/bandsintown_mono.svg
         url: https://www.bandsintown.com/a/15527641
      - 
         icon: social-icons/apple_mono.svg
         url: https://music.apple.com/us/artist/yasmine/1702236844
      - 
         icon: social-icons/spotify_mono.svg
         url: https://open.spotify.com/artist/4Xcb2gsTmbFFS22zXfrdef?si=txtlHPiORn-gktKSsirDTw
      - 
         icon: social-icons/youtube_mono.svg
         url: https://www.youtube.com/@MusicByYASMINE
      - 
         icon: social-icons/instagram_mono.svg
         url: https://www.instagram.com/thequeenyazzyg/
      - 
         icon: social-icons/email_mono.svg
         email: Yasminemusicbusiness@gmail.com
theme: 
   titleColor: "#FFFFFF"
   accentColor: "#F9DCE1" # icons, form fields, design accents
   backgroundColor: "rgba(13, 16, 17, 1)"
   backgroundColor2: "rgba(19, 21, 20, 1)"
developerSettings:
   baseUrl: yasminemusic.com
   linklyReferralLink: https://referral.foundations.design/ysmn
---

{% extends "base.njk" %}
{% block content %}

   <!-- header: for introductory content -->
   <header>
      <hgroup>
         <h1 class="title">{{content.title}}</h1>
      </hgroup>
   </header>
   <main>
      <section class="image"><img src="{{content.pic}}" alt="Profile Pic"/></section>
      <section class="links">
         {% for link in content.links %}
            <nav class="link">
               <a target="_blank" href="{{link.url}}">
                  {% include link.icon %}
               </a>
            </nav>
         {% endfor %}
      </section>
      <section class="email-form-container">
         {% include "email-form.njk" %}
      </section>
   </main>
</body>

<style>

   /* DEV STYLE 
   body > * {
      border: 3px solid blue;
   }
   main > * {
      border: 3px solid red;
   }*/

   /* layout styles for the top-level sections: header, main, sections*/
   :root {
      --color-b: {{theme.backgroundColor}};
      --color-a: {{theme.accentColor}};
   }

   header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 28%;
      display: grid;
      place-content: center;
      border: none;
      border-top: 20px solid var(--color-a);
   }

   main {
      position: absolute;
      top: 28%;
      right: 0;
      left: 0;
      height: 67%;
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-rows: 72% 28%;
      justify-content: stretch;
      align-content: stretch;
   }

   section.links {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      direction: rtl;
      justify-content: space-evenly;
      align-content: space-evenly;
   }

   section.email-form-container {
      grid-column: 1 / -1;
      background-color: {{theme.backgroundColor2}};
      padding-left: var(--space-lg);
      padding-right: var(--space-lg);
      display: grid;
      align-content: center;
   }
</style>

<style>

   /*styles for WITHIN the top-level sections: header, section.links*/

   header hgroup {
      width: max-content;
      height: max-content;
   }

   h1.title {
      font-size: clamp(16px, 29lvw, 160px);
      text-align: center;
      width: min-content;
      color: {{theme.titleColor}};
      margin: 0 0 -1lvh;
      line-height: 1;
   }

   .link {
      height: 9lvw;
      width: 9lvw;
      max-height: 35px;
      max-width: 35px;
   }

   .link svg {
      fill: {{theme.accentColor}};
   }

   .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 15%;
   }
</style>

{% endblock %}